{#
/**
 * @file
 * BEM theme implementation to display a block.
 *
 * @see template_preprocess_block()
 * @see core/modules/block/templates/block.html.twig
 *
 * @ingroup themeable
 */
#}
<div{{ attributes }}>
  {{ title_prefix }}
  {% if label %}
    <h2{{ title_attributes }}>{{ label }}</h2>
  {% endif %}
  {{ title_suffix }}

  <div{{ content_attributes }}>
    {% block content %}
      {{ content }}
    {% endblock %}
  </div>
</div>
