{#
/**
 * @file
 * BEM theme implementation for a breadcrumb trail.
 *
 * @see core/modules/system/templates/breadcrumb.html.twig
 *
 * @ingroup themeable
 */
#}
{% if breadcrumb %}
  <nav class="breadcrumb" role="navigation">
    <span class="breadcrumb__label">{{ 'You are here'|t }}</span>
    <ol class="breadcrumb__trail">
    {% for item in breadcrumb %}
      <li class="breadcrumb__item">{{ item }}</li>
    {% endfor %}
    </ol>
  </nav>
{% endif %}
