{#
/**
 * @file
 * BEM theme implementation for a field.
 *
 * @see template_preprocess_field()
 * @see core/modules/system/templates/field.html.twig
 *
 * @ingroup themeable
 */
#}
{% set content_attributes_str -%}
  {{ content_attributes }}
{%- endset %}
<div{{ attributes }}>
  {% if not label_hidden %}
    <div class="{{ bem_element }}-label"{{ title_attributes }}>{{ label }}</div>
  {% endif %}
  {% if content_attributes_str -%}
    <div{{ content_attributes_str }}>
  {%- endif %}
    {% for delta, item in items %}
      <div class="{{ bem_element }}-item"{{ item_attributes[delta] }}>{{ item }}</div>
    {% endfor %}
  {% if content_attributes_str -%}
    </div>
  {%- endif %}
</div>
