{#
/**
 * @file
 * BEM theme implementation to display form content.
 *
 * Available variables:
 * - elements: List of all the form elements.
 *
 * @see template_preprocess_region_content()
 *
 * @ingroup themeable
 */
#}
<div class="form-content">
  {{ elements|without('actions') }}
</div>

{{ elements.actions }}
