{#
/**
 * @file
 * BEM theme implementation to display a node.
 *
 * @see template_preprocess_node()
 * @see core/modules/node/templates/node.html.twig
 *
 * @ingroup themeable
 */
#}
<article{{ attributes }}>

  {{ title_prefix }}
  {% if not page %}
    <h2{{ title_attributes }}>
      <a class="{{ bem_block }}__title-link" href="{{ url }}" rel="bookmark">{{ label }}</a>
    </h2>
  {% endif %}
  {{ title_suffix }}

  {% if display_submitted %}
    <footer class="{{ bem_block }}__meta">
      {{ author_picture }}
      <div class="{{ bem_block }}__submitted {{ author_attributes.class }}"{{ author_attributes|without('class') }}>
        {{ date }}
        {{ metadata }}
      </div>
    </footer>
  {% endif %}

  <div{{ content_attributes }}>
    {{ content|without('links') }}
  </div>

  {% if content.links %}
    <div class="{{ bem_block }}__links">
      {{ content.links }}
    </div>
  {% endif %}

</article>
