{#
/**
 * @file
 * BEM theme implementation to display region content.
 *
 * Available variables:
 * - blocks: List of all the block names.
 * - elements: List of all the region blocks.
 *
 * @see template_preprocess_region_content()
 *
 * @ingroup themeable
 */
#}
{% for block in blocks %}
  <div class="{{ bem_block }}__{{ block }}">
    {{ elements[block] }}
  </div>
{% endfor %}
