{#
/**
 * @file
 * BEM theme implementation for a views "more" link.
 *
 * @see core/modules/views/templates/views-more.html.twig
 *
 * @ingroup themeable
 */
#}
<a href="{{ more_url }}" class="{{ bem_block }}__more-link">{{ link_text }}</a>
