{#
/**
 * @file
 * Default theme implementation for main view template.
 *
 * @see template_preprocess_views_view()
 * @see core/modules/views/templates/views-view.html.twig
 *
 * @ingroup themeable
 */
#}
{% set header %}{{- header -}}{% endset %}
{% set footer %}{{- footer -}}{% endset %}
<div{{ attributes }}>
  {{ title_prefix }}
  {% if title %}
    {{ title }}
  {% endif %}
  {{ title_suffix }}
  {% if header %}
    <div class="{{ bem_block }}__header">
      {{ header }}
    </div>
  {% endif %}
  {% if exposed %}
    <div class="{{ bem_block }}__filters">
      {{ exposed }}
    </div>
  {% endif %}
  {% if attachment_before %}
    <div class="{{ bem_block }}__attachment {{ bem_block }}__attachment--before">
      {{ attachment_before }}
    </div>
  {% endif %}

  {% if rows %}
    <div class="{{ bem_block }}__content">
      {{ rows }}
    </div>
  {% elseif empty %}
    <div class="{{ bem_block }}__content--empty">
      {{ empty }}
    </div>
  {% endif %}

  {% if pager %}
    {{ pager }}
  {% endif %}
  {% if attachment_after %}
    <div class="{{ bem_block }}__attachment {{ bem_block }}__attachment--after">
      {{ attachment_after }}
    </div>
  {% endif %}
  {% if more %}
    <div class="{{ bem_block }}__more">
      {{ more }}
      </div>
  {% endif %}
  {% if footer %}
    <div class="{{ bem_block }}__footer">
      {{ footer }}
    </div>
  {% endif %}
  {% if feed_icon %}
    <div class="{{ bem_block }}__feed-icon">
      {{ feed_icon }}
    </div>
  {% endif %}
</div>
