{#
/**
 * @file
 * Default theme implementation to display a single views grouping.
 *
 * @see template_preprocess_views_view_grouping()
 * @see core/modules/views/templates/views-view-grouping.html.twig
 *
 * @ingroup themeable
 */
#}
<div class="{{ bem_block }}__grouping">
  <div class="{{ bem_block }}__grouping-header">{{ title }}</div>
  <div class="{{ bem_block }}__grouping-content">{{ content }}</div>
</div>
